* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.section {
	width: 80vw;
	height: 70vh;
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
